<div class="calendar">
        <div class="row days">
            <div class="day" ng-repeat="n in [] | range:5">{{n}}</div>
        </div>
        <div class="row">
            <div class="day deactive"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
        </div>
        <div class="row">
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
        </div>
        <div class="row">
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
        </div>
        <div class="row">
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day active"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
        </div>
        <div class="row">
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
        </div>
        <div class="row">
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
        </div>
      </div>