<!-- Timeline side -->
<div class="span4">
  <h1>My Time</h1>
  <div class="pagination pagination-centered">
    <ul>
      <li><a href="#">Prev</a></li>
      <li><a href="#">2011</a></li>
      <li><a href="#">2012</a></li>
      <li class="active"><a href="#">2013</a></li>
      <li><a href="#">2014</a></li>
      <li><a href="#">2015</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </div>
  <div class="pagination pagination-centered">
    <ul>
      <li><a href="#">...</a></li>
      <li><a href="#">February</a></li>
      <li><a href="#">March</a></li>
      <li class="active"><a href="#">April</a></li>
      <li><a href="#">May</a></li>
      <li><a href="#">June</a></li>
      <li><a href="#">...</a></li>
    </ul>
  </div>
  <table class="table table-bordered" style="width:75%; margin : 0 auto">
    <tr class="info">
      <td style="background:#dff0d8">Sun</td>
      <td>Mon</td>
      <td>Tue</td>
      <td>Wed</td>
      <td>Thu</td>
      <td>Fri</td>
      <td>Sat</td>
    </tr>
    <tr>
      <td>31</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>13</td>
    </tr>
    <tr>
      <td style="background:#dff0d8">14</td>
      <td>14</td>
      <td>15</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>19</td>
    </tr>
    <tr>
      <td>20</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
      <td>24</td>
      <td>25</td>
      <td>26</td>
    </tr>
    <tr>
      <td>27</td>
      <td>28</td>
      <td>29</td>
      <td>30</td>
      <td>31</td>
      <td>1</td>
      <td>2</td>
    </tr>
  </table>
</div>

<!-- Events side -->
<div class="span4">
  <h1>My Events</h1>
  <form action="" class="form-inline">
    <input type="text" placeholder="Create new event...">
  <button class="btn" type="submit">Add</button>
  <form action="" class="form-search">
    <input type="text" class="search-query" placeholder="Search...">
  </form>
  </form>
  
  
  <table class="table-striped table" style="margin : 1.5em auto">
    <tr>
      <td>07.00</td>
      <td>Get up!</td>
    </tr>
    <tr>
      <td>07.30</td>
      <td>Run</td>
    </tr>
    <tr>
      <td>08.00</td>
      <td>See twitter news</td>
    </tr>
    <tr>
      <td>08.15</td>
      <td>Site working</td>
    </tr>
    <tr>
      <td>10.00</td>
      <td>It`s time to break:)</td>
    </tr>
    <tr>
      <td>10.10</td>
      <td>Site working</td>
    </tr>
    <tr>
      <td>13.00</td>
      <td>Go home</td>
    </tr>
  </table>
</div>

<!-- Social side -->
<div class="span4">
  <h1>My Groups</h1>
</div>