<!-- Timeline side -->
<div class="span4">
  <h1>My Time</h1>
  <div class="pagination pagination-centered">
    <ul>
      <li><a href="#">Prev</a></li>
      <li><a href="#">2011</a></li>
      <li><a href="#">2012</a></li>
      <li class="active"><a href="#">2013</a></li>
      <li><a href="#">2014</a></li>
      <li><a href="#">2015</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </div>
</div>

<!-- Events side -->
<div class="span4">
  <h1>My Events</h1>
</div>

<!-- Social side -->
<div class="span4">
  <h1>My Groups</h1>
</div>