<div ng-controller="EventCtrl">
    <div id="eventshead" >
        <div id="searchwrapper">
            <input type="text" id="search" ng-model="query">   
        </div>
        <i class="icon-group"></i>
        <i class="icon-plus-sign" ng-click="showNewBox = true"></i>
        <i class="icon-search"></i>    
</div>

<%= render 'layouts/eventbox', :action => 'create', :description => 'Create', :meth => 'New' %>
<%= render 'layouts/eventbox', :action => 'update', :description => 'Update', :meth => 'Edit' %>

<div id="eventside">
    
    <div class="event" ng-repeat="event in events | filter : query" ng-mouseenter="event.showDescription=true" ng-mouseleave="event.showDescription=false" ng-class="{'last': $last}">
    <p class="time">{{event.time | date:'H:mm'}}</p>
    <p class="header">{{event.header}}</p>

    <p class="description" ng-show="event.showDescription">{{event.description}}</p>
      <i class="icon-edit" ng-click="showEvent(event, $index)"></i>
      <i class="icon-trash" ng-click="deleteEvent(event, $index)"></i>
      <i class="icon-group"></i>     
    </div>
  </div>
</div>
<div id="dashside" ng-controller="TimeCtrl">
            
      <p class="chaser" ng-model="current_month"><i class="icon-angle-left" ng-click="decMonth()"></i>{{months[current_month].month}}<i class="icon-angle-right" ng-click="incMonth()"></i></p>
      <p class="chaser"><i class="icon-angle-left" ng-click="decYear()"></i>{{current_year}}<i class="icon-angle-right" ng-click="incYear()"></i></p>
      
      <div class="calendar">
        <div class="row days">
            <div class="day"><p>Sun</p></div>
            <div class="day"><p>Mon</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day active"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
        </div>
        <div class="row">
            <div class="day deactive"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
        </div>
        <div class="row">
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
        </div>
        <div class="row">
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
        </div>
        <div class="row">
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day active"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
        </div>
        <div class="row">
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
        </div>
        <div class="row">
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
        </div>
      </div>

  <div id="socialside" ng-controller="GroupCtrl">
    <div class="group" ng-repeat="group in groups">
      <div id="header">
        <p>{{group.name}}</p>
        <i class="icon-edit"></i>
        <i class="icon-trash"></i>
        <div id="users" ng-repeat="user in group.users">
          <a href="users/{{user}}" class="avatar"><%= image_tag('anon.png') %></a>          
        </div>  
      </div>    
    </div>
  </div>
</div>



