<div ng-controller="EventCtrl">
    <div id="eventshead" >
        <div id="searchwrapper">
            <input type="text" id="search" ng-model="searchquery">   
        </div>
        <i class="icon-group"></i>
        <i class="icon-plus-sign" ng-click="showAddBox()"></i>
        <i class="icon-search"></i>    
</div>

<%= render 'layouts/eventbox', :action => 'create', :description => 'Create', :meth => 'New' %>
<%= render 'layouts/eventbox', :action => 'update', :description => 'Update', :meth => 'Edit' %>

<div id="eventside">
    
    <div class="event" ng-repeat="event in events | filter : searchquery | filter : calendarWDay" ng-mouseenter="event.showDescription=true" ng-mouseleave="event.showDescription=false" ng-class="{'last': $last}">
                {{Calendar.wDay}}
    <p class="time">{{event.time | date:'H:mm'}}</p>
    <p class="header">{{event.header}}</p>

    <p class="description" ng-show="event.showDescription">{{event.description}}</p>
      <i class="icon-edit" ng-click="showEvent(event, $index)"></i>
      <i class="icon-trash" ng-click="deleteEvent(event, $index)"></i>
      <i class="icon-group"></i>     
    </div>
  </div>
</div>
<div id="dashside" ng-controller="TimeCtrl">
               
      <%= render 'layouts/calendar' %>

  <div id="socialside" ng-controller="GroupCtrl">
    <div class="group" ng-repeat="group in groups">
      <div id="header">
        <p>{{group.name}}</p>
        <i class="icon-edit"></i>
        <i class="icon-trash"></i>
        <div id="users" ng-repeat="user in group.users">
          <a href="users/{{user}}" class="avatar"><%= image_tag('anon.png') %></a>          
        </div>  
      </div>    
    </div>
  </div>
</div>



