<div id="welcome">
  <h2>Kron Network</h2>
  <%= image_tag 'logo.png', id: 'logo' %>
  <h1>Share your time</h1>

  <%= render template: 'devise/sessions/new' %>
  <%= render template: 'devise/registrations/new' %>

  <p id="or">or</p>
  <a href="#" class="dotted">Sign Up</a>
  <hr>

  <ul id="footer">
    <li><a href="/about">About Us</a></li>
    <li><a href="/tour">Kron Tour</a></li>
    <li><a href="/terms">Kron Terms</a></li>
  </ul>

  <br>
  <br>
  <br>
  <br>
  <p>Created by Aleksey Kuznetsov</p>
  <p>All rights reserved © 2013</p></p>
</div>