/*
 *= require font-awesome
 */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,700);

// Colors and shades
@white : #CCC;
@brown : #483C32;
@orange : #F46F1B;
@red : #E34234;
@black : #333;
@green : #006400;
@warm : #CEC7BF;

// Fonts
@ubuntu : Ubuntu, Helvetica, Trebuchet MS, Liberation Sans, sans-serif;
@mono : Ubuntu Mono, Droid Sans Mono, Menlo, Monaco, Consolas, Terminus, sans-serif;


html {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Raleway, @ubuntu;
  color: @black;
}

h1 {
  text-align: center;
  margin: 0;
  font-size : 2em;
}

nav {
  background: @brown;
  position: fixed;
  height: 3em;
  border-bottom: 0.25em solid @orange;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  margin: 0 auto;
}

.page {
  width: 100%;
  position: absolute;
  min-height: 100%;
  background: @warm;
}

.content {
  margin-top : 3.5em;
}

#timeside {
  width: 30%;
  float: left;
}

#eventside {
  width: 40%;
  float: left;
}

#socialside {
  width: 30%;
  float: left;
}

nav a{
  text-decoration: none;
  color: @white;
  text-transform: uppercase;
  display: block;
  float: left;
  font-weight: bold;
  margin: 0.5em 0.5em 0 0.5em;
  font-size: 1.5em;
  height: 1.5em;
  border-bottom : 0.2em solid @orange;
}

nav a.first {
  margin-left: 2.5em;
}

nav a:hover{
  color: @orange;
  border-bottom: 0.2em solid @green;
  -webkit-transition : all 0.5s ease;
  -moz-transition : all 0.5s ease;
  -o-transition : all 0.5s ease;
  -ms-transition : all 0.5s ease;
  transition : all 0.5s ease;
}

.avatar {
  border-radius: 50%;
  border : 0.25em solid @green;
  margin: 0em;
  display: block;
  width: 2.5em!important;
  height: 2.5em!important;
  float: left;
  font-size : 1em;
  z-index: 101;
  img {
    border-radius: 50%;
    width: 2.5em!important;
  height: 2.5em!important;
  z-index: 101;
  }    
}

.avatar:hover {
  border : 0.25em solid @orange;
  -webkit-transition : border 0.5s ease;
  -moz-transition : border 0.5s ease;
  -o-transition : border 0.5s ease;
  -ms-transition : border 0.5s ease;
  transition : border 0.5s ease;
  z-index: 101;
}

p#timer{
  display: block;
  float: right;
  font-size: 1.5em;
  font-family: @mono;
  margin: 0.5em;
  font-weight: bold;
  color : @red;
  width: auto;
}
