
html, body {
  font-family: Ubuntu, Helvetica, Trebuchet MS, sans-serif;
}

#timer {
  position: absolute;
  display: block;
  font-family: Ubuntu Mono, sans-serif;
  color: #fff!important;
  font-weight: bold;
  font-size: 1.5em;
  margin : 0.5em;
  right : 0;
}

h1 {
  text-align: center;
}
