/*
 *= require font-awesome
 */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,700);

// Colors and shades
@white : #FFF;
@brown : #483C32;
@orange : #F46F1B;
@red : #E34234;
@black : #333;
@green : #006400;
@warm : #CEC7BF;

// Fonts
@ubuntu : Ubuntu, Helvetica, Trebuchet MS, Liberation Sans, sans-serif;
@mono : Ubuntu Mono, Droid Sans Mono, Menlo, Monaco, Consolas, Terminus, sans-serif;


html {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

body {
  top : 0;
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin : 0;
  font-family: Raleway, @ubuntu;
  color: @black;
  background: @warm;
}

h1 {
  text-align: center;
  margin: 0;
  font-size : 2em;
}

nav {
  background: @brown;
  position: fixed;
  height: 3em;
  border-bottom: 0.25em solid @orange;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  margin: 0 auto;
}

.page {
  width: 100%;
  min-height: 100%;
  top : 0;
}

.content {
  height: auto;
  min-height: 300px;
  padding: 4em 1em;

  a {
    color : @black;
  }

  a:visited {
    color : @black + #222;
  }

  a:hover {
    color : @orange;
    transition : color 0.5s ease;
  }
}

#timeside {
  width: 30%;
  float: left;
}

#eventside {
  width: 40%;
  float: left;
}

#socialside {
  width: 30%;
  float: left;
}

nav a{
  text-decoration: none;
  color: @white;
  text-transform: uppercase;
  display: block;
  float: left;
  font-weight: bold;
  margin: 0.5em 0.5em 0 0.5em;
  font-size: 1.5em;
  height: 1.5em;
  border-bottom : 0.2em solid @orange;
}

nav a.first {
  margin-left: 2.5em;
}

nav a:hover{
  color: @orange;
  border-bottom: 0.2em solid @green;
  -webkit-transition : all 0.5s ease;
  -moz-transition : all 0.5s ease;
  -o-transition : all 0.5s ease;
  -ms-transition : all 0.5s ease;
  transition : all 0.5s ease;
}

.avatar {
  border-radius: 50%;
  border : 0.25em solid @green;
  margin: 0em;
  display: block;
  width: 2.5em!important;
  height: 2.5em!important;
  float: left;
  font-size : 1em;
  z-index: 101;
  img {
    border-radius: 50%;
    width: 2.5em!important;
  height: 2.5em!important;
  z-index: 101;
  }    
}

.avatar:hover {
  border : 0.25em solid @orange;
  -webkit-transition : border 0.5s ease;
  -moz-transition : border 0.5s ease;
  -o-transition : border 0.5s ease;
  -ms-transition : border 0.5s ease;
  transition : border 0.5s ease;
  z-index: 101;
}

p#timer{
  display: block;
  float: right;
  font-size: 1.5em;
  font-family: @mono;
  margin: 0.5em;
  font-weight: bold;
  color : @warm;
  width: auto;
}

#footer {
  position: relative;
  height: 10em;
  background: @black;
  margin-top : -10em;

  p {
    font-size: 1.25em;
    color : @warm;
  }

  ul {
    list-style-type: disc;
    margin : 0.5em 0;
  }

  a{
    display: block;
    color : @warm;
    font-size: 1.25em;
    margin-bottom : 0.15em;
    text-decoration: none;
  }

  a:hover {
    color : @orange;
    -webkit-transition : color 0.5s ease;
    -moz-transition : color 0.5s ease;
    -o-transition : color 0.5s ease;
    -ms-transition : color 0.5s ease;
    transition : color 0.5s ease;
  }
}

#footer:before {
  position: absolute;
  width: 100%;
  height: 8px;
  display: block;
  content: '';
  background: url('fence.png');
  background-repeat: repeat-x;
  top : 0;
  left : 0;
  margin-top : -8px;
}

.column {
  width : 33%;
  float: left;
}

.logo {
  display: block;
  width : 8em;
  height: 8em;
  display: block;
  margin: 1em;
  float : left;
}

.uppercase {
  text-transform: uppercase;
}

p.chaser {
  display : block;
  float : right;
  margin-left : 2.5em;
  font-weight : bold;
  // font-size : 1.2em;
  i {
    display : block;
    width : 0.75em;
    font-weight : bold;
    text-decoration: none;
    margin : 0 0.25em 0 0.25em;
    background : @brown;
    border-radius : 50%;
    color : @white;
    
  }
  i.icon-angle-left {
    float : left;
    padding-left : 0.25em;
  }
   i.icon-angle-right {
    width : 0.66em;
    float : right;
    padding-left : 0.34em;
  }

  i:hover {
    background : @black;
    color : @orange;
    -webkit-transition : all 0.5s ease;
    -moz-transition : all 0.5s ease;
    -o-transition : all 0.5s ease;
    -ms-transition : all 0.5s ease;
    transition : all 0.5s ease;
  }
}

.calendar {
  width : 100%;
  display : block;
  clear : both;
  background : @white;
  border-spacing : 0;
  border-radius : 0 0 1.25em 1.25em;
  .row {
    display : block;
    width : 100%;
    clear : both;
    height : 2em;
  }

  .row.days {
    background : @black;
    font-weight : bold;
    color : @white;
    -webkit-box-shadow: 0 0.25em 0.125em -0.125em black;
    box-shadow: 0 0.25em 0.125em -0.125em black;
  }

  .day {
    margin-top : 0.25em;
    display : block;
    float : left;
    text-align : center;
    width : 14%;
  }

  .day.active {
    color : @green + #444;
  }
  .day.deactive {
    color : @warm - #222;
  }
  
  .day:hover {
    background : @orange;
    border-radius : 0.5em;
    color : @white;
    -webkit-transition : all 0.5s ease;
    -moz-transition : all 0.5s ease;
    -o-transition : all 0.5s ease;
    -ms-transition : all 0.5s ease;
    transition : all 0.5s ease;
  }  
}

.padding_wrapper{
  margin : 1em;
  position : relative;
}

.event{
  display : block;
  width : 100%;
  background : @white;
  border-bottom : 0.25em solid @orange;
  clear : both;
  font-size : 1.25em;
  margin : -0.5em 0;
  padding : 0;
  position : relative;
  .time,.header {
    font-weight : bold;
    margin-top : 0.5em;
    margin-left : 0.5em;
  }

  p.time {
    float : left;
    display : block;
    margin-right : 0.5em;
    height : 100%;
  }
  p.header {
    display : block;
    padding-top : 0.5em;
  }
  .description {
    padding-left : 3em;
    font-size : 0.8em!important;
  }
  i.icon-edit, i.icon-trash, i.icon-group {
    display : block;
    color : @warm + #111;
    position : absolute;
    top : 0.5em;
    font-size : 1em;
  }
  i.icon-edit {right : 3.5em}
  i.icon-trash {right : 0.5em}
  i.icon-group {right : 2em}
}

.event:hover {
  background : @orange;
  border-bottom : 0.25em solid @green;
  color : @white;
  -webkit-transition : all 0.5s ease;
  -moz-transition : all 0.5s ease;
  -o-transition : all 0.5s ease;
  -ms-transition : all 0.5s ease;
  transition : all 0.5s ease;
}

.eventshead {
  background : @black;
  height : 4em;
  position : relative;
}

.eventshead:after{
  content : '';
  display : block;
  width : 100%;
  height : 8px;
  position : absolute;
  bottom : 0px;
  background : url('fence_flipped.png');
  margin-bottom : -8px;
  z-index : 10;
}