/*
 *= require font-awesome
 */

// Colors and shades
/* --------------------------------------------------------------------------------- */
@white : #FFF;
@brown : #483C32;
@orange : #F46F1B;
@red : #E34234;
@black : #333;
@green : #006400;
@warm : #CEC7BF;

// Imports
@import "onoffswitch.less";

// Fonts
/* --------------------------------------------------------------------------------- */
@ubuntu : Ubuntu, Helvetica, Trebuchet MS, Liberation Sans, sans-serif;
@mono : Ubuntu Mono, Droid Sans Mono, Menlo, Monaco, Consolas, Terminus, sans-serif;

/* Mixins */
/* --------------------------------------------------------------------------------- */
.box-shadow {
  -webkit-box-shadow: 0px 0.25em 0.75em rgba(20, 20, 20, 0.75);
  box-shadow:         0px 0.25em 0.75em rgba(20, 20, 20, 0.75);  
}

.transition {
    -moz-transition : all 0.5s ease;
    -ms-transition : all 0.5s ease;
    -o-transition : all 0.5s ease;
  -webkit-transition : all 0.5s ease;
    transition : all 0.5s ease;
}

.clearfix {
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.side-shadow {
  -webkit-box-shadow: 0.4em 0 0.6em -0.4em #000, -0.4em 0 0.6em -0.4em #000;
  box-shadow: 0.4em 0 0.6em -0.4em #000, -0.4em 0 0.6em -0.4em #000;
}

.search {
    background : @white;
    border : none;
    border-radius : 0.5em;
    display : block;
    float : left;
    font-family : @ubuntu;
    font-size : 1em;
    height : 1.5em;
    padding-left : 0.5em;
    padding-top : 0;
    width : 100%;
}

/* Tags */
/* --------------------------------------------------------------------------------- */
html {
  height: 100%;
  margin: 0;
  min-height: 100%;
  min-width : 62em;
  padding: 0;
  width: 100%;
}

body {
  background : @brown url('bg.jpg') no-repeat fixed center top ;
  color: @black;
  font-family: @ubuntu;
  height: 100%;
  margin : 0;
  min-height: 100%;
  padding: 0;
  top : 0;
  position: relative;
}

h1 {
  font-size : 1.5em;
  margin: 0.5em 0;
  text-align: center;
}

p {
  overflow: hidden;
}

nav {
  height: 2.5em;
  margin : 0 auto;
  width: 62em;
  
  #searchwrapper {
    float: right;
    margin-top : 0.5em;
    padding-right : 2.75em;
    width : 13.5em;
    position: relative;
    
    input {
      padding-left : 1.75em;
    }

    .icon-search {
      position: absolute;
      color: @warm;
      left: 0.25em;
      top : 0.125em;
      font-size : 1.25em;
      
    } 
  }

  a {
    color: @warm;
    display: block;
    float: left;
    font-size: 1.25em;
    font-weight: bold;
    height: 1.25em;
    margin: 0.25em 0.25em 0 0.25em;
    text-decoration: none;
    .uppercase;
    
  }

  .icon-envelope {
    color : @red;
  }

  a:hover{
    .transition;
    border-bottom: 0.2em solid @green;
    color: @orange;
  }
}

input {
  border: none;
  display: block;
  font-family : @ubuntu; 
}

footer {
  background: @black;
  color : @warm;
  font-size: 1em;
  height: 11em;
  margin : -11em auto;
  position : relative;
  width : 62em;
  .side-shadow;

  ul {
    margin : 0.5em 0;
  }

  a{
    color : @warm;
    display: block;
    font-size: 1em;
    margin-bottom : 0.5em;
    text-decoration: none;
  }

  a:hover {
    .transition;
    color : @orange;
  }
}

footer:before {
  background: url('fence.png') repeat-x;
  content: '';
  display: block;
  height: 8px;
  left : 0;
  margin-top : -8px;
  position: absolute;
  top : 0;
  width: 100%;
}

#nav_wrap {
  .box-shadow;
  background : @black;
  position: fixed;
  width : 100%;
  z-index: 101;
}

#black {
  opacity : 0.75;
  height : 100%;
  overflow: hidden;
  z-index : 1000;
  background : black;
  position: fixed;
  width : 100%;
  display: none;
}

#content_wrapper {
  background : rgba(50, 50, 50, 0.75);
  height : auto !important;
  margin : 0 auto;
  min-height : 100%;
  padding : 0;
  position : relative;
  width : 62em;
}

#content {
  padding : 2.5em 0 11em 0;
  position : relative;
  .side-shadow;
  a {
    color : @black;
  }

  a:visited {
    color : @black + #222;
  }

  a:hover {
    .transition;
    color : @orange;
  }
}

#timeline {
  width: 1em;
  position : fixed;
  background : @red;
  height: 100%;
  
  #times {
    display: none;
    min-height : 36em;
    color : @white;
    
    p {
      font-size : 1.25em;
      text-align: center;
      margin : 0;
      height : 4.16%;
      border-bottom : 0.25em solid @red + #444;
      background : none;
    }

    p:hover {
      background : @green;
      border-bottom : 0.25em solid @orange;
      .transition;
    }

    p.last {
      border : none;
    }

  }
}

#dashside {
  float : right;
  padding : 0em 1em 0 0;
  width : 23em;
}

#eventside {
  float : left;
  padding : 0 1em 0 1em;
  width : 36em;
}

.avatar {    
  float: left;
  font-size : 1em;
  height: 2.5em!important;
  margin: 0em;
  
  img {
    border-radius: 50%;
    height: 2.5em!important;
    width: 2.5em!important;
    z-index: 101;
    border-radius: 50%;
  }
}

.avatar img:hover {

  .transition;
  box-shadow: 0 0 1em #77db77; 
  z-index: 101;
}

p#timer{
  color : @warm;
  float: right;
  font-family: @mono;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0.5em 0;
}

.column {
  float: left;
  width : 33%;
}

.logo {
  float : left;
  height: 8em;
  margin: 1em;
  width : 8em;
}

p.chaser {
  display : block;
  float : right;
  font-weight : bold;
  margin : 0em 0.5em 0 0;
  i {
    background : @brown;
    border-radius : 50%;
    color : @white;
    display : block;
    font-weight : bold;
    margin : 0.25em 0.25em 0 0.25em;
    text-decoration: none;
    width : 0.75em;
    
  }
  i.icon-angle-left {
    float : left;
    padding-left : 0.25em;
  }
   i.icon-angle-right {
    float : right;
    padding-left : 0.34em;
    width : 0.66em;
  }

  i:hover {
    .transition;
    background : @black;
    color : @orange;
  }
}

.calendar {
  background : @white;
  border-radius : 0 0 1.25em 1.25em;
  border-spacing : 0;
  clear : both;
  width : 100%;
  margin-top : 1em;
  .clearfix;

  .row {
    clear : both;
    display : block;
    height : 2em;
    width : 100%;
  }

  .row#chasers {
    background : @black;
    color : @white;
    font-weight: bold;
    padding-top : 0.5em;
    box-shadow : none;
    
    a {
      text-decoration: none;
      color : @white;
      background : @brown;
      border-radius : 0.5em;
      float: left;
      margin : 0 0 0 0.5em;
      padding : 0.125em 0.5em 0.125em 0.5em;
    }

    a:hover {
      background : @orange;
      .transition;
    }  
  } 

  .row.days {
    .box-shadow;
    background : @black;
    color : @white;
    font-weight : bold;
  }

  .day {
    display : block;
    float : left;
    margin : 0.25em 0 0.25em 0;
    text-align : center;
    width : 14%;
    
    p {
      margin : 0;
    }

  }

  .day.active {
    color : @green + #444;
  }
  .day.deactive {
    color : @warm - #222;
  }
  
  .day:hover {
    .transition;
    background : @orange;
    border-radius : 0.5em;
    color : @white;
  }  
}

.event{
  background : @white;
  border-bottom : 0.25em solid @orange;
  clear : both;
  display : block;
  font-size : 1em;
  margin : -0.5em 0;
  padding : 0;
  position : relative;
  width : 100%;
  
  .time,.header {
    font-weight : bold;
    margin-left : 0.5em;
    margin-top : 0.5em;
  }

  .header {
    margin-right: 5.0em;
  }

  p.time {
    display : block;
    float : left;
    height : 100%;
    margin-right : 0.5em;
  }
  p.header {
    display : block;
    padding-top : 0.5em;
  }
  .description {
    font-size : 0.8em!important;
    padding : 0 1em 0;
    display: none;
  }
  i.icon-edit, i.icon-trash, i.icon-group {
    color : @warm + #111;
    display : block;
    font-size : 1em;
    position : absolute;
    top : 0.5em;
  }
  i.icon-edit {right : 3.5em;}
  i.icon-trash {right : 0.5em;}
  i.icon-group {right : 2em;}
  
}

.event.last {
  border-radius : 0 0 0.25em 0.25em;
}

.event:hover {
  .transition;
  background : @brown;
  border-bottom : 0.25em solid @green;
  color : @white;
}

#eventshead {
  background : @black;
  height : 3em;
  position : relative;
  z-index : 100;
  
  i.icon-plus-sign, i.icon-group {
    color : @orange;
    display : block;
    font-size : 1.5em;
    position : absolute;
    right : 0.5em;
    top : 0.5em;
  }

  i.icon-plus-sign:hover, i.icon-group:hover {
    .transition;
    color : @green;
  }

  i.icon-group {
    right : 2em;
  }

  #searchwrapper{
   height : 100%;
   margin: 0em 7em 1em 1em;
   padding-top : 0.75em;
    
  }
}

#eventshead:after{
  background : url('fence_flipped.png');
  bottom : 0px;
  content : '';
  display : block;
  height : 8px;
  margin-bottom : -8px;
  position : absolute;
  width : 100%;
  z-index : 10;
}

#header {
    .box-shadow;
    background : @black;
    color : @white;
    font-size : 1em;
    font-weight : bold;
    height : 2em;
    padding-top : 0.1em;
    position : relative;
    p {
      margin: 0.25em 0.5em;
      padding : 0;
      text-align : center;
    }
    i.icon-edit, i.icon-trash {
      color : @warm;
      display : block;
      position : absolute;
      top : 0.5em;
    }
    i.icon-edit {
      right : 2em;
    }
    i.icon-trash {
      right : 0.5em;
    }
  }

.group {
  background : @white;
  border-radius : 0 0 1em 1em;
  height : auto;
  margin : 1em 0;
  min-height : 6em;
  width : 100%;

.avatar {
  margin : 0.75em 0.5em 0;
}

}

::-webkit-scrollbar {
    background : @brown;
    width: 0.5em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.5em rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
    background : @orange;
    -webkit-box-shadow: inset 0 0 0.5em rgba(0,0,0,0.5); 
}

.eventbox {
  display: none;
  .box-shadow;
  background : @black + #111;
  color : @white;  
  padding : 1em;
  position: relative;
  z-index : 10;
  
  i.icon-remove-sign {
    color : @red;
    font-size : 1.5em;
    position : absolute;
    right : 0.675em;
    bottom : 0.675em;
  }

  i.icon-remove-sign:hover {
    .transition;
    color : @orange;
  }

  input.textinput {
    border-radius : 0.5em 0 0 0.5em;
    float : left;
    font-size : 1em;
    height : 1.5em;
    margin : 0;
    padding: 0 1em 0 1em;
    width : 28em;  
  }

  textarea {
    border : none;
    border-radius : 0.5em;
    clear: both;
    font-family : @ubuntu;
    font-size : 1em;
    height : 7em;
    margin: 1.0em 0 0 0;
    padding : 0.5em;
    width : 33em;
  }

  input.buttoninput {
    background : @green;
    border-radius : 0 0.5em 0.5em 0;
    color : @white;
    float : left;
    font-size : 1em;
    height : 1.53em;
    margin-left: -0.2em;
}

  .buttoninput:hover {
    background : @green + #333;
    
  }

}

input.ng-valid:focus, textarea:focus {
  box-shadow : 0 0 1em @green + #777;
  outline: none;
  .transition;
}

#userprofile {
  background: @black top center padding-box;
  color: @white;
  border-radius : 0 0 1em 1em;
  #profile {
    padding-bottom : 0.25em;
    background : url('profilebg.png');
    
  }

  h1 {
    margin : 0;
    padding : 0.25em 0 0 0;
    font-size : 1.5em;
    text-shadow: -0.05em 0 @black, 0 0.05em @black, 0.05em 0 @black, 0 -0.05em @black;
  }

  h2 {
    margin : 0;
    padding : 0.5em 0 0 0;
    font-size : 1.2em;
    text-align : center;
    text-shadow: -0.05em 0 @black, 0 0.05em @black, 0.05em 0 @black, 0 -0.05em @black;
  }

  .avatar {
    width : 5.0em!important;
    height: 5.0em!important;
    clear: both;
    float : none;
    margin : 0 auto;
    display: block;
    
    img {
      width : 5.0em!important;
      height: 5.0em!important;
    }
  }

  p {
    margin : 0 1em;
    text-align : center;
    text-shadow: -0.0125em 0 @black, 0 0.0125em @black, 0.0125em 0 @black, 0 -0.0125em @black;
  }

  #buttons {
    border-top : @black solid 0.125em;
    margin-top : 0.25em;
    border-radius : 0 0 1em 1em;
    background : @white;
    color : @black;
    text-align: center;
    .clearfix;
    
    a {
    float : left;
    width : 7.575em;
    text-decoration: none;
    height : 2.75em;
    border-right : 0.125em solid #ddd;
    padding : 0;
    margin: 0;
    }
    p {
      text-shadow : none;
    }
    
    a#last {
      border-right : none;
    }

    a:hover {
      background : @orange;
      color : @white;
      border-right : 0.125em solid @green;
    } 
  }  
}

#scroller {
  display: none;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

#datetime-picker {
  border-radius : 0.5em;
  float : left;
  font-size : 1em;
  height : 1.5em;
  margin : 0.5em 0 0 0;
  padding: 0 1em 0 1em;
  width : 30em;
}

#notify {
  position: absolute;
  width : 28em;
  height : 18em;
  overflow: hidden;
  left : 50%;
  top : 50%;
  margin : -10em 0 0 -15em;
  background : white;
  border-radius : 1.5em;
  border : 0.25em solid @orange;
  z-index : 1000;
  padding : 1em;
  display: none;
  
  hr {
    border : 0.0625em solid #ddd;
   }

  p {
    max-height : 11.5em;
  }
}