<div class="calendar">
        <div class="row days">
            <div class="day" ng-repeat="wday in wdays" ng-class="{active: $index == now.getDay()}">
                <p>{{wday.substring(0,3)}}</p>
            </div>
        </div>
        <div class="row">
            <div class="day deactive"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
        </div>
        <div class="row">
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
        </div>
        <div class="row">
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
        </div>
        <div class="row">
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day active"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
        </div>
        <div class="row">
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
        </div>
        <div class="row">
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
            <div class="day deactive"><p>Tue</p></div>
        </div>
      </div>