<div id="nav_wrap" ng-controller="TimeCtrl"> 
 <nav>
  <a href="notices">Notices</i></a>
  <a href="events">Events</i></a>
  <a href="diaries">Diaries</i></a>
  <a href="schedules">Schedules</i></a>
  <a href="groups">Groups</i></a>
  <a href="#" ng-show='isScroll'><i class="icon-circle-arrow-up"></i></a>
  <p id="timer">
    {{now | date:'MMM dd HH:mm'}}
  </p>
 </nav>
</div>

