<div id="nav_wrap"> 
 <nav>
  <a href="users/ne1ro">Profile</i></a>
  <a href="notices">Notices</i></a>
  <a href="events">Events</i></a>
  <a href="diaries">Diaries</i></a>
  <a href="schedules">Schedules</i></a>
  <a href="groups">Groups</i></a>
  <a href="#"><i class="icon-circle-arrow-up"></i></a>
  <p id="timer" ng-controller="TimeCtrl">
    {{now | date:'MMM dd HH:mm'}}
  </p>
 </nav>
</div>

