<div id="nav_wrap" ng-controller="TimeCtrl"> 
 <nav>

  <% if !current_page?(user_path(current_user)) %>
    <%= link_to user_path(current_user), title: 'Home' do %>
      <i class="icon-home"></i>
    <% end  %>
  <% end %>

  <% if false %>
    <%= link_to 'notices', title: 'Notices' do %>
    <i class="icon-envelope" id="notices"></i>
    <% end %>
  <% end %>

  <%= link_to 'Notices', user_notifications_path(current_user) %>
  <%= link_to 'Events', user_events_path(current_user) %>
  <a href="diaries">Diaries</i></a>
  <a href="schedules">Schedules</i></a>
  <a href="groups">Groups</i></a>
  <a id="scroller" title="Scroll to top"><i class="icon-circle-arrow-up"></i></a>
  
  <p id="timer">
    {{now | date:'MMM dd HH:mm'}}
  </p>

  <div id="searchwrapper">
    <input type="text" class="search" ng-model="searchquery" placeholder="Search">
    <i class="icon-search"></i>   
  </div>
    
 </nav>
</div>

