<div id="black">
  </div>
  <div id="notify" ng-model="notify" ng-controller="NotifyCtrl">
    <audio id="sound">
      <source src="/notification.wav" />
    </audio>
    <h1>{{notify.text}}</h1>
    <hr>
    <p>{{notify.time | date : 'HH:mm Z dd MMM yyyy'}}</p>    
  </div>
