<div id="black">
  </div>
  <div id="notify" ng-model="notify" ng-controller="EventCtrl">
    <audio id="sound">
      <source src="/notification.wav" />
    </audio>
    <h1>{{notify.header}}</h1>
    <p>{{notify.description}}</p>
    <hr>
    <p>Date and time : {{notify.time | date : 'HH:mm Z dd MMM yyyy'}}</p>    
  </div>
