<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body ng-init>
    
  <%= render 'layouts/nav' %>
  <div id="content_wrapper">
    <div id="content" class="clearfix">
      <%= yield %>
    </div>
  </div>

  <%= render 'layouts/footer' %>

</body>
</html>
